<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wxDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD2F87B41F02310900B5317B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2F87CD1F02310900B5317B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2F87D81F02310900B5317B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
